<template>
  <ionSelectVue v-model="$i18n.locale">
    <ion-select-option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{ lang }}</ion-select-option>
  </ionSelectVue>
</template>

<script>
export default {
  name: 'language-select',
  data () {
    return { langs: ['nl', 'en'] }
  }
}
</script>