:root {
  --ion-color-primary: #6C878F;
  --ion-color-primary-rgb: 108,135,143;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5f777e;
  --ion-color-primary-tint: #7b939a;

  --ion-color-secondary: #A7D2A8;
  --ion-color-secondary-rgb: 167,210,168;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #93b994;
  --ion-color-secondary-tint: #b0d7b1;

  --ion-color-tertiary: #A7D2A8;
  --ion-color-tertiary-rgb: 167,210,168;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #93b994;
  --ion-color-tertiary-tint: #b0d7b1;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #FF2626;
  --ion-color-danger-rgb: 255,38,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e02121;
  --ion-color-danger-tint: #ff3c3c;

  --ion-color-dark: #363638;
  --ion-color-dark-rgb: 54,54,56;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #303031;
  --ion-color-dark-tint: #4a4a4c;

  --ion-color-medium: #626366;
  --ion-color-medium-rgb: 98,99,102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #56575a;
  --ion-color-medium-tint: #727375;

  --ion-color-light: #F2F2F2;
  --ion-color-light-rgb: 242,242,242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d5d5d5;
  --ion-color-light-tint: #f3f3f3;

  --ion-color-disabled: #ABACAD;
}
