:root {
  --ion-text-color: var(--ion-color-medium);
  line-height: 2rem;
}

h1 {
  font-family: 'cocogooseregular';
  font-size: 2rem !important;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
}

h3 {
  font-family: 'cocogooseregular';
  font-size: 1.25rem !important;
}

.large-body {
  font-size: 1.25rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}
