@font-face {
  font-family: 'cocogooseregular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/cocogoose_trial2-webfont.woff2') format('woff2'),
  url('../fonts/cocogoose_trial2-webfont.woff') format('woff');
}

@font-face {
  font-family: 'cocogoose_letterpressregular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/cocogooseletterpress_trial-webfont.woff2') format('woff2'),
  url('../fonts/cocogooseletterpress_trial-webfont.woff') format('woff');
}
