<template>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Opper Nerds</ion-card-subtitle>
            <ion-card-title>Diehard Netflix Nerds</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Wie is de aller grootste Netflix nerd?
            <ion-list>
              <ion-item>
                Claudia 31:45:83
              </ion-item>
              <ion-item>
                Sophie 28:45:83
              </ion-item>
              <ion-item>
                Peter 22:45:83
              </ion-item>
              <ion-item>
                Roel 14:45:83
              </ion-item>
              <ion-item>
                Guido 8:45:83
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Favs!</ion-card-subtitle>
            <ion-card-title>Favoriete Netflix serie</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Welke serie is de meest favoriet van het hele werk?
            <ion-list>
              <ion-item>
                1. Peaky Blinders
              </ion-item>
              <ion-item>
                2. Friends
              </ion-item>
              <ion-item>
                3. The Big Bang Theory
              </ion-item>
              <ion-item>
                4. The Good Place
              </ion-item>
              <ion-item>
                5. How I Met Your Mother
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Favoriete kijkdag</ion-card-subtitle>
            <ion-card-title>Favoriete kijkdag</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Welke dag wordt er het meest Netflix gekeken?
            <ion-list>
              <ion-item>
                Maandag - 396 uur
              </ion-item>
              <ion-item>
                Dinsdag - 210 uur
              </ion-item>
              <ion-item>
                Woensdag - 686 uur
              </ion-item>
              <ion-item>
                Donderdag - 942 uur
              </ion-item>
              <ion-item>
                Vrijdag - 863 uur
              </ion-item>
              <ion-item>
                Zaterdag - 562 uur
              </ion-item>
              <ion-item>
                Zondag  - 1107 uur
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Wat kijken deze </ion-card-subtitle>
            <ion-card-title>Oppernerds?!</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <select v-model="nerd">
              <option v-for="nerd in nerds" :value="nerd" :key="nerd.id">{{ nerd.name }}</option>
            </select>

            <div v-if="nerd">
              Selected nerd:
              {{ nerd.name }}

              <ion-list v-for="item in nerd.items.slice(0, 10)" :key="item.id">
                <ion-item>
                  <ion-label>{{ item.Title }}</ion-label>
                </ion-item>
              </ion-list>
            </div>

            <div v-else>
              No nerds
            </div>

            <router-link :to="{path: '/watch/' + nerd.name}">See more about {{ nerd.name }}</router-link>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</template>

<script>
  // import NetflixWatch from "../Netflix/index";

  import dataSophie from "@/store/data/sophie.json"
  import dataClaudia from "@/store/data/claudia.json"
  import dataRoel from "@/store/data/roelh.json"
  import dataGuido from "@/store/data/guido.json"
  import dataPeter from "@/store/data/peter.json"

  export default {
    name: "dashboard",
    // components: { NetflixWatch },
    props: ['value'],
    data() {
      return {
        // myJson: dataSophie,
        nerds: [{
          name: 'Sophie',
          items: dataSophie
        },
        {
          name: 'Claudia',
          items: dataClaudia
        },
        {
          name: 'Guido',
          items: dataGuido
        },
        {
          name: 'Roel',
          items: dataRoel
        },
        {
          name: 'Peter',
          items: dataPeter
        }],
        nerd: {
          name: 'Sophie',
          items: dataSophie
        },
      }
    },
    watch: {
      nerd() {
        this.$emit('input', this.nerd);
      }
    }
  }
</script>

<style scoped>
  .height-col {
    height: 500px;
  }

</style>
