<template>
  <ion-content>
    <h1>Sophie's Netflix</h1>

      <ion-list>
        <ion-item v-for="item in netflix.items.slice(0, 30)" :key="item.id">
          {{ item.Title }}
        </ion-item>
      </ion-list>


<!--      <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Title</th>-->
<!--          <th>Date</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr v-for="item in netflix.items.slice(0, 30)" :key="item.id">-->
<!--          <td>{{ item.Title }}</td>-->
<!--          <td>{{ item.Date }}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
  </ion-content>
</template>

<script>
  import dataSophie from "@/store/data/sophie.json"
  // import dataClaudia from "@/store/data/claudia.json"
  // import dataGuido from "@/store/data/guido.json"
  // import dataRoelH from "@/store/data/roelh.json"

  export default {
      name: "netflix-watch",
      data(){
        return{
          // myJson: dataSophie,
          netflix: {
            name: 'Sophie',
            items: dataSophie
          }
        }
      }
    }
</script>

<style scoped>

</style>
