ion-button {
  height: 3rem;
  min-width: 150px;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: uppercase;
  --box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  --border-radius: 5px;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  --transition: none;

  &.button-small {
    height: 2.25rem;
    min-width: auto;
  }

  &.button-large {
    height: 4rem;
    --padding-start: 2.5rem;
    --padding-end: 2.5rem;
  }

  &.button-outline {
    --border-width: 1px;
    --color-hover: var(--ion-color-primary-shade);
    --background-hover: #fff;

    &:hover {
      --border-color: var(--ion-color-primary-shade);
    }
  }

  &[fill='clear'] {
    --box-shadow: none;
    --background: transparent;
  }

  &.button-link {
    margin: 0;
    font-weight: 400;
    text-transform: none;
    text-decoration: underline;
  }
}

ion-input {
  ion-button, > ion-icon {
    right: 0;
    position: absolute;
    min-width: inherit;
  }

  ion-button {
    top: 0;
    height: 2.75rem;
  }
}

