ion-input {
  line-height: 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  --placeholder-opacity: 0.3;
  --background: white !important;
  --padding-top: 1rem !important;
  --padding-bottom: 1rem !important;
  --padding-start: 1rem !important;
  --padding-end: 1rem !important;

  ion-icon {
    font-size: 20px;
  }
}

.input-error-nvk ion-input {
  border: 1px solid var(--ion-color-danger);
}
.input-clear-icon.sc-ion-input-md, .input-clear-icon.sc-ion-input-ios {
  margin:0 10px;
}
.input-icon,
.input-clear-icon.sc-ion-input-md,
.input-clear-icon.sc-ion-input-ios {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}
.error-label {
  --padding-start: 0;
  --background: transparent;
  ion-label {
    font-size: 0.875rem !important;
    font-style: italic;
    line-height: 1rem;
  }
}
