<template>
  <ion-content>
    <h1>Sophie's Netflix</h1>

    <ion-list>
      <ion-item v-for="item in netflix.items.slice(0, 30)" :key="item.id">
        {{ item.Title }}
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
  import dataSophie from "@/store/data/sophie.json"

  export default {
    name: "netflix-watch-sophie",
    data(){
      return{
        netflix: {
          name: 'Sophie',
          items: dataSophie
        }
      }
    }
  }
</script>

<style scoped>

</style>
