<template>
  <ion-content>
    <h1>Guido's Netflix</h1>

    <ion-list>
      <ion-item v-for="item in netflix.items.slice(0, 30)" :key="item.id">
        {{ item.Title }}
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
  import dataGuido from "@/store/data/guido.json"

  export default {
    name: "netflix-watch-guido",
    data(){
      return{
        netflix: {
          name: 'Guido',
          items: dataGuido
        }
      }
    }
  }
</script>

<style scoped>

</style>
