<template>
  <ion-content>
    <ion-row class="ion-align-items-start">
      <ion-col>
        <ion-searchbar :value="search" @ionInput="search = $event.target.value" placeholder="Search items" mode="ios"></ion-searchbar>
      </ion-col>
    </ion-row>
    <h1>Claudia's Netflix</h1>

    <ion-list>
      <ion-item v-for="item in netflix.items.slice(0, 30)" :key="item.id">
        {{ item.Title }}
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
  import dataClaudia from "@/store/data/claudia.json"

  export default {
    name: "netflix-watch-claudia",
    data(){
      return {
        netflix: {
          name: 'Claudia',
          items: dataClaudia
        },
        search: '',
        items: []
      }
    },
    computed: {
      filteredItems(){
        return this.netflix.items.filter(item => {
          console.log(item.Title)
          return item.Title.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        })
      }
    }
  }
</script>

<style scoped>

  ion-content {
    --background: #ccc;
  }

</style>
