<template>
  <div>
    <ion-content>
      <h1>joejoe</h1>
      <ion-list lines="full" no-padding>
<!--        <ion-item v-for="item in items" :key="item.index">-->
<!--          <ion-label>{{ item.name }} {{ item.checked }}</ion-label>-->
<!--          <ionCheckboxVue slot="start" :checked="item.checked" @ionChange="itemChecked(index)"></ionCheckboxVue>-->
<!--        </ion-item>-->
        <ion-item v-for="(person, index) in items" :key="person.index">
          <ion-label v-if="!person.checked">{{ person.name }} doesn't seem happy...</ion-label>
          <ion-label v-if="person.checked">{{ person.name }} seems happy!</ion-label>
          <ionCheckboxVue slot="start" :checked="person.checked" @ionChange="moodSwings(index)"></ionCheckboxVue>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button fill="clear" size="medium" slot="start" @click="closeModal">Cancel</ion-button>
        <ion-button size="medium" slot="end">Add</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>
</template>

<script>

  import store from '@/store'
  import { mapState } from 'vuex'


  export default {
    store,
    name: 'Modal',
    computed: {
      ...mapState(['items', 'persons']),
      // return this.$store.state.totalPizzaCount
    },
    methods: {
      // itemChecked(index) {
      //   this.$store.commit('itemChecked', index);
      // },
      moodSwings(index) {
        this.$store.commit('moodSwings', index);
      },
      closeModal() {
        this.$ionic.modalController.dismiss();
      },
    },
  }
</script>

<style scoped>

</style>
