<template>
  <ion-app id="app">
    <ion-content padding >
      <ion-vue-router />
    </ion-content>
  </ion-app>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style>
  ion-router-outlet {
    overflow: auto;
  }
</style>
