<template>
  <ion-content>
    <ion-item>
      <ion-icon name="calendar" slot="end"></ion-icon>
      <ion-label>Select date</ion-label>
      <ion-datetime displayFormat="MM DD YY"></ion-datetime>
    </ion-item>

    <ion-item margin-top lines="none">
      <div>
        <ionInputVue v-model="editableTags" placeholder="fill in tag"></ionInputVue>
        <ion-button>Add</ion-button>
      </div>
    </ion-item>
    <ion-item margin-top lines="none">
      <ion-chip v-for="(tag, index) in tags" :key="index">
        <ion-label class="tag">{{ tag }}
          <ion-icon name="close-circle"></ion-icon>
        </ion-label>
      </ion-chip>
    </ion-item>

    <ion-list class="w-50 bg-transparent">
      <ion-item v-for="(entry, index) in pizza" :key="index">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" v-on:input="entry.checked = $event.target.value" :checked="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list class="w-50 bg-transparent ion-padding-top">
      <ion-item class="bg-transparent" v-for="(entry, index) in pizza" :key="index" v-show="entry.isChecked">
        <ion-label>{{entry.val}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
  import { addIcons } from 'ionicons'
  import { calendar, closeCircle } from 'ionicons/icons'

  addIcons({
    "md-calendar": calendar.md,
    "ios-calendar": calendar.ios,
    "md-closeCircle": closeCircle.md,
    "ios-closeCircle": closeCircle.ios,
  })

  export default {
    name: "index",
    props: ['value'],
    data() {
      return {
        tags: ['novik-v2', 'vuejs', 'goud'],
        // pizza: [
        //   { val: 'Pepperoni', isChecked: true },
        //   { val: 'Sausage', isChecked: false },
        //   { val: 'Mushroom', isChecked: false }
        // ]
      }
    },
  }
</script>

<style scoped>

  ion-content {
    --background: #E7F2E7;
  }

  ion-item {
    --background: transparent;
  }

  ion-chip {
    background-color: var(--ion-color-primary);
    color: white;
  }

  .w-50 {
    width: 50%;
  }

  .bg-transparent {
    background-color: transparent;
  }
</style>
