<template>
  <ion-content>
    <ion-grid>
      <ion-row>
        <h1>I'm a customer</h1>
      </ion-row>
      <ion-row>
        <p>I see {{ totalPizzaCount }} Pizza's!</p>
        <p v-show="!totalPizzaCount">I can't buy any...</p>
      </ion-row>
      <ion-row>
        <ion-button
        size="small"
        :disabled="!totalPizzaCount"
        @click="buyPizza">
          Buy Pizza
        </ion-button>

        <ion-button
          size="small"
          :disabled="totalPizzaCount < 2"
          @click="buyTwoPizzas">
          Buy 2 Pizza's!
        </ion-button>

        <ion-button
          size="small"
          :disabled="totalPizzaCount > 9"
          @click="wrongPizza">
          Wrong Pizza!
        </ion-button>
      </ion-row>

      <ion-row class="ion-margin-top">
        <h1>Can we make the staff happy?</h1>
      </ion-row>

      <ion-row>
        <ion-item>
          {{ isJennyHappy }}
        </ion-item>

        <ion-item>
          <ion-label v-if="isJennyHappy">Jenny seems happy!</ion-label>
          <ion-label v-if="!isJennyHappy">Jenny doesn't seem happy..</ion-label>

          <ionCheckboxVue :checked="isJennyHappy" @ionChange="moodSwingJenny" slot="start"></ionCheckboxVue>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-list>
          <ion-item v-for="(person, index) in persons" :key="person.index">
            <ion-label v-if="!person.happy">{{ person.name }} doesn't seem happy...</ion-label>
            <ion-label v-if="person.happy">{{ person.name }} seems happy!</ion-label>
            <ionCheckboxVue slot="start" :checked="person.happy" @ionChange="moodSwings(index)"></ionCheckboxVue>
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row class="ion-margin-top">
        <h1>Who is happy and deserves pizza?!</h1>
      </ion-row>

      <ion-row>
        <ion-list>
          <ion-item v-for="person in persons" :key="person.id" v-show="person.happy">
            <ion-label>{{ person.name }}</ion-label>
            <ion-button @click="openModal">Add Pizza</ion-button>
          </ion-item>

        </ion-list>
      </ion-row>

    </ion-grid>
  </ion-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import Modal from '@/views/Modal/default'

  export default {
    name: 'moodSwings',
    computed: {
      ...mapState(['totalPizzaCount','isJennyHappy', 'persons', 'items']),
      // return this.$store.state.totalPizzaCount
    },
    methods: {
      ...mapActions(['removePizza','wrongPizza', 'moodSwingJenny']),

      buyPizza() {
        this.removePizza(1)
        // this.$store.dispatch('removePizza', 1)
      },
      buyTwoPizzas() {
        this.removePizza(2)
        // this.$store.dispatch('removePizza', 2)
      },
      wrongPizza() {
        // this.wrongPizza(1)
        this.$store.dispatch('wrongPizza', 1)
      },
      moodSwings(index) {
        this.$store.commit('moodSwings', index);
      },
      async openModal() {
        const modal = await this.$ionic.modalController.create({
          component: Modal,
        });
        return await modal.present();
      }
    }
  }
</script>

<style scoped>

  ion-content {
    --background: #E7F2E7;
  }

  ion-list {
    --background: transparent;
  }

  ion-item {
    --background: transparent;
  }

  ion-chip {
    background-color: var(--ion-color-primary);
    color: white;
  }

  ion-list {
    width: 50%;
  }

  .w-50 {
    width: 50%;
  }

  .bg-transparent {
    background-color: transparent;
  }
</style>
