<template>
  <div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Filter watchlist data</h1>
      </ion-col>
    </ion-row>

    <ion-row>
<!--      <ion-col>-->
<!--        <ion-list>-->
<!--          <ion-list-header>Show nerds:</ion-list-header>-->
<!--          <ion-item>-->
<!--            <ion-label>Claudia</ion-label>-->
<!--            <ion-checkbox color="primary" slot="start"></ion-checkbox>-->
<!--          </ion-item>-->
<!--          <ion-item>-->
<!--            <ion-checkbox color="primary" slot="start"></ion-checkbox>-->
<!--            <ion-label>Sophie</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item>-->
<!--            <ion-checkbox color="primary" slot="start"></ion-checkbox>-->
<!--            <ion-label>Guido</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item>-->
<!--            <ion-checkbox color="primary" slot="start"></ion-checkbox>-->
<!--            <ion-label>Peter</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item>-->
<!--            <ion-checkbox color="primary" slot="start"></ion-checkbox>-->
<!--            <ion-label>Roel</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-list>-->
<!--      </ion-col>-->
    </ion-row>

    <ion-row>
      <ion-col>
          <div class="filter">
            Nerds:
            <label><input type="radio" v-model="selectedNerd" value="All" /> All</label>
            <label><input type="radio" v-model="selectedNerd" value="Claudia" /> Claudia</label>
            <label><input type="radio" v-model="selectedNerd" value="Roel" /> Roel</label>
            <label><input type="radio" v-model="selectedNerd" value="Sophie" /> Sophie</label>
          </div>

          <ul class="people-list">
            <li v-for="item in filteredItems" :key="item.id">{{ item.Title }}</li>
          </ul>
      </ion-col>
    </ion-row>

<!--    <ion-row>-->
<!--      <ion-col>-->
<!--        <ion-list>-->
<!--          <ion-item v-for="(item, index) in filteredItems" :key="index">-->
<!--            <ion-label>-->
<!--              {{ item }}-->
<!--            </ion-label>-->
<!--          </ion-item>-->
<!--        </ion-list>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
  </ion-grid>
  </div>
</template>

<script>

  import allData from "@/store/data/all-data.json"

  export default {
    name: "userFilter",
    data() {
      return {
        items: allData,
        selectedNerd: "All"
      }
    },
    computed: {
      filteredItems: function() {
        var vm = this;
        var category = vm.selectedNerd;

        if(category === "All") {
          return vm.items;
        } else {
          return vm.items.filter(function(item) {
            return item.Nerd === category;
          });
        }
      }
    },
    methods: {
      // showNerds: function () {
      //   return this.items.filter(function (nerd) {
      //     return nerd % 'claudia' === 0
      //   })
      // }
    }
  }
</script>

<style scoped>

</style>
